VITE_SUPABASE_URL=https://nnagdvzpqllfwcxjatiu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5uYWdkdnpwcWxsZndjeGphdGl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NDk5NDgsImV4cCI6MjA5NDQyNTk0OH0.gVRLyQBW8WaguUk63UXzWTShcK2FwXU3jNsJaiSoo6M
